<html>
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/home.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="stylesheet" type="text/css" href="static/css/reset.css" />
	<title>No Solo | Y-Hack 2013</title>
</head>
<body>

	
	<form id="myForm" method="post" enctype="multipart/form-data" action="/photo_upload/">
		<input id="fileElem" type="file" name="Photo">
		<button class="pure-button pure-button-secondary" id="fileSelect">Choose a Photo</button>
	</form>
	<center><div class="center-content"></center>
		<div class="content">
			<img id="original" class="img-center" src="http://www.clker.com/cliparts/C/N/O/F/T/X/blank-profile-hi.png"></img>
		</div>
		<div class="content">
			<img id="new" class="img-center" src="http://www.clker.com/cliparts/C/N/O/F/T/X/blank-profile-hi.png"></img>
		</div>
	</div>
</body>
</html>