<div class="homepage hero-image l-full-width">
	<div class="l-single-column">
		<h1 class="t-primary-header">Learn to code faster, with a mentor.</h1>
		<h2 class="t-secondary-header">An online school to advance your career.</h2>
		<h3 class="t-body-text">Our next class starts <span class="next-class-date">soon</span>. Enter your email to preview a syllabus.</h3>
		<form  action="/register" class="apply" id="signup_1" method="post">
			<input name="course" type="hidden" value="" />
			<input name="email" type="text" placeholder="email" class="applicant_email"><!--
		--><button class="medium-button">Learn More</button>
		</form>
		<h4 class="t-note">No spam, ever. We promise!</h4>
	</div>
</div>